@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --text: #010a19;
    --background: #e6f0fe;
    --primary: #8a7efb62;
    --secondary: #e6c4fd;
    --accent: #9107ed;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: var(--background);
}

button {
    font-size: 18px;
    font-weight: 600;
    padding: 7px 12px;
    background-color: var(--background);
    cursor: pointer;
}

button:hover {
    border-top: none;
    border-left: none;
    /* color: var(--primary); */
    /* background-color: #ffffff; */
}

.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 40px 20px;
}
.header, header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    background-color: var(--primary);
}
.logo {
    font-size: 68px;
    font-family: 'Bangers', cursive;
}

.menu > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.menu > ul > li > a:hover {
    color: white;
    font-weight: 700;
}

.hero-section {
    display: flex;
    padding: 60px 60px;
    gap: 60px;
}

.right > img {
    height: 600px;
}

.bigtitle > h1 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 900;
    padding-bottom: 30px;
}

.bigtitle > p {
    margin: 20px 0px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
}

.smalltxt {
    padding: 30px 30px 50px 0px;
}

.calltct {
    margin-top: 50px;
    font-size: 22px;
    padding: 10px 20px;
    margin-right: 30px;
}
.calltct:hover {
    background-color: var(--primary);
}

/* sugge */

.product-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sorting-options {
    margin-bottom: 40px;
    text-align: right;
    margin-right: 50px;
    font-size: 20px;
}

.sorting-options label {
    margin-right: 10px;
    font-size: 20px;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    /* height: 200px; */
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


.more-products {
    text-align: center;
        margin: 70px 0px;
}


.image {
    display: grid;
    place-items: center;
}
.image > img {
    height: 200px;
    margin-bottom: -100px;
    border: 12px solid var(--background);
    border-radius: 50%;
}

.real-msg {
    background-color: var(--primary);
    padding: 110px 60px 30px 60px;
}

.benefits {
    padding: 0px 60px;
}
footer {
    background-color: var(--text);
    padding: 20px;
    color: white;
    text-align: center;
}

.all {
    display: flex;
    /* gap: 70px; */
}

.des {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 35px;
    text-align: center;
}
.boxben {
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 3px;
}
